# Ignore everything
/*

# Main files
!/texproject/
!Makefile
!.gitignore

# Data files
!config

# Info
!LICENSE
!README.md

# setup
!MANIFEST.in
!setup.py

# and ignore more things
texproject/__pycache__
.DS_Store
